*{
    font-size: 12px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-content: center;
    background-image: url(../img/cover.jpg);
    background-color: rgb(168, 135, 222);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 10% 35%;   
    min-height: 100vh;
}

.left-part{
    width: 40vw;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 1rem;
}

.right-part{
    display: flex;
    height: auto;
    width: 60vw;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 3%;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.068);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 40px;
    height: auto;
    gap: 10px;
    margin-top: 30vh;
}

.credit-list {
    margin: 1rem;
}
.credit-list p, .credit-list a{
    font-size: 1.2rem;
    text-align: left;
    color: dimgray;
}

.credit-list a {
    color:rgba(0, 0, 0, 0.281);
}

.quote p{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

.form{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.fill-in-area{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.input{
    font-family: 'Righteous', cursive;
    display: flex;
    flex-flow: column;
    margin: 1rem;
    width: 20rem;
}

.log-in{
    margin-top: 1rem;
}

.log-in a {
    color: brown;
}

.log-in p, .log-in a {
    font-size: medium;
}

.error input:invalid{
    border: red solid 1px;
    display: flex;
    flex-flow: row wrap;
    
}

.error input:invalid + span::after{
    color: rgb(209, 22, 22);
    font-family: 'Kanit', sans-serif;
    content: "*Passwords do not match the rule";
    font-size: 1.4rem;
    font-weight: bolder;
}


img{
    height: 20vh;
}

h1{
    font-size: 5rem;
    background-size: 100%;
    color: rgb(255, 255, 255);
    font-family: 'Righteous', cursive;
}

blockquote, blockquote+p, button{
    font-family: 'Kanit', sans-serif;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
}

input{
    border: 0px;
    border-radius: 10px;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.486);
    font-size: 1.4rem;
    color: black;
}

input:focus{ 
    outline:none; 
    background-color: rgba(0, 0, 0, 0.486);
    font-size: 1.7rem;
    color: aliceblue;
    border: 1px solid blue;
    box-shadow: 0 0 15px #5f5d5d;
}

input:invalid{
    border: 1px solid red;
}

label{
    font-size: 1.5rem;
}

blockquote{
    font-size: 1.5rem;
}

button{
    border: 0px;
    border-radius: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 4rem;
    width: auto;
    font-size: medium;
    font-weight: bold;
    margin: 2rem;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.486);
    color: aliceblue;
}

button:hover, a:hover{
    cursor: pointer;
}

a:hover{
    color: antiquewhite;
}